body {
  margin: 0;
  background-color: rgb(211, 252, 255);
}

header {
  background-color: rgb(211, 252, 255);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.logo {
  margin-left: 1%;
  float: left;
  padding: 10px 0px;
  height: 50px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 28px;
  position: relative;
}

@media screen and (max-width: 780px) {
  .logo {
    display: none;
  }
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

nav a:hover {
  color: black;
}
nav a::before {
  content: '';
  display: block;
  background-color: #444;
  height: 5px;
  width: 0%;
  position: absolute;
  top: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* Below is code used not for nav */

.rows {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */

.flex-container {
  display: flex;
  flex: 25%;
  padding: 0 4px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.flex-container img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.flex-container .item {
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .flex-container {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 788px) {
  .flex-container {
    flex: 48%;
    max-width: 100%;
  }
}

/* Below is needed to give background moving aspect */

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgb(177, 233, 149) 50%,
    rgb(126, 188, 228) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 10%;

  position: absolute;
  text-align: center;
  top: 25%;
  height: 70%;
  width: 80%;
  /* margin-bottom: 5%; */
  padding: 2%;
}

.contentProjects {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  left: 50%;
  text-align: center;
  top: 50%;
  margin: 5%;
  padding: 2%;
}

.content1 {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;

  padding: 10vmin;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  margin: 0;
  margin-top: 3%;
}
.resume {
  height: auto;
  max-height: 80%;
  display: flex;
  flex: 25%;
  padding: 0 4px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: scroll;
}

.itemEd {
  text-align: left;
  width: 25%;
}

.itemEx {
  text-align: left;
  width: 65%;
}

@media screen and (min-width: 100px) and (max-width: 784px) {
  .itemEd {
    flex: 55%;
    max-width: 100%;
  }
  .itemEx {
    flex: 55%;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .contentProjects {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.25em;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
    left: 50%;
    text-align: center;
    top: 50%;
    margin: 0%;
    padding: 5%;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 0.75fr 0.75fr 2fr;
  grid-template-rows: 1fr 1fr;
  color: #444;
}

.box {
  color: black;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.boxIntro {
  grid-column: 1 / span 2;
}

.boxIntro p {
  font-size: medium;
}

.boxPhoto {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.wrapper .item-1 {
  height: 420px;
  width: 270px;
  border-radius: 1%;
}
.boxLinks {
  grid-column: 1;
  grid-row: 2;
  color: #444;
  text-decoration: none;
}

.boxLinks .links {
  font-size: medium;
  color: #444;
  text-decoration: none;
}

.boxInterest .likes {
  font-size: medium;
}
.boxInterest {
  grid-column: 2;
  grid-row: 2;
}

.refLinks {
  color: #444;
  list-style: none;
}

@media (min-width: 800px) and (max-width: 900px) {
  .wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: #444;
  }

  .boxIntro {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .boxPhoto {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .boxLinks {
    display: none;
  }

  .boxInterest {
    display: none;
  }
}

@media (max-width: 799px) {
  .wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    color: #444;
  }

  .wrapper .item-1 {
    height: 270px;
    width: 170px;
    border-radius: 1%;
  }

  .boxIntro {
    grid-column: 1;
    grid-row: 4 / span 2;
  }
  .boxPhoto {
    grid-column: 1;
    grid-row: 1 / span 3;
  }

  .boxLinks {
    display: none;
  }

  .boxInterest {
    display: none;
  }
}

.content .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  flex-shrink: 0.5;
  margin-bottom: 2%;
}

.project-container {
  height: 450px;
  width: 275px;
}

.project1 {
  position: relative;
  font-family: sans-serif;
  margin-bottom: 7%;
}

.project1 a {
  text-decoration: underline;
  color: #ffffff;
  font-weight: bold;
}

.image__img1 {
  display: block;
  width: 100%;
  height: 50%;
}

.image_overlay1 {
  margin-top: 3%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  padding: 5%;
}

.image_overlay1 > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image_overlay1:hover > * {
  transform: translateY(0);
}

.image_overlay1:hover {
  opacity: 1;
}
