/* Will contain all CSS  */

body {
  margin: 0;
  background-color: rgb(211, 252, 255);
}

header {
  background-color: rgb(211, 252, 255);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.logo {
  margin-left: 1%;
  float: left;
  padding: 10px 0px;
  height: 50px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 28px;
  position: relative;
}

@media screen and (max-width: 780px) {
  .logo {
    display: none;
  }
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

nav a:hover {
  color: black;
}
nav a::before {
  content: '';
  display: block;
  background-color: #444;
  height: 5px;
  width: 0%;
  position: absolute;
  top: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* Below is code used not for nav */

.rows {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.flex-container {
  display: flex;
  flex: 25%;
  padding: 0 4px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.flex-container img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.flex-container .item {
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .flex-container {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 788px) {
  .flex-container {
    flex: 48%;
    max-width: 100%;
  }
}
#divContactMe {
  margin: 20px;
  padding: 10px;
  background-color: aqua;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

/*.contentAboutMe {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin: 0 auto;
}*/

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin: 0 auto;
  margin-top: 3%;
}

/*.contentProjects {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin-bottom: 3%;
  margin-top: 3%;
}*/

.resume {
  display: flex;
  flex: 25%;
  padding: 0 4px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.itemEd {
  text-align: left;
  width: 25%;
}

.itemEx {
  text-align: left;
  width: 65%;
}

@media screen and (min-width: 100px) and (max-width: 784px) {
  .itemEd {
    flex: 55%;
    max-width: 100%;
  }
  .itemEx {
    flex: 55%;
    max-width: 100%;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1.75fr;
  grid-template-rows: 1fr 1fr;
  /* background-color: white; */
  color: #444;
}

.box {
  color: black;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.box2 {
  grid-column: 1 / span 2;
}

.box2 p {
  font-size: medium;
}

.box1 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.wrapper .item-1 {
  height: 98%;
  width: 90%;
  border-radius: 1%;
}
.box3 {
  grid-column: 1;
  grid-row: 2;
  color: #444;
}
.box3 .links {
  font-size: medium;
  color: #444;
}

.box4 .likes {
  font-size: medium;
}
.box4 {
  grid-column: 2;
  grid-row: 2;
}

.refLinks {
  color: #444;
}

.content .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  flex-shrink: 0.5;
}

.project-container {
  height: 450px;
  width: 275px;
  background-color: beige;
}

.project1 {
  background-image: url('photos/pi.jpg');
}

.project1:hover {
  opacity: 0.2;
}
.project2:hover {
  opacity: 0.2;
}

.project2 {
  background-image: url('photos/DP.png');
}
